.app.aqua {
    --bg-color: #55c5a7;
    --inverted-bg-color: #d0d0d0;
    --primary-color: #4804b5;
    --secondary-color: #3b6969;
    --inverted-primary-color: #b1d0b1;
    --inverted-secondary-color: #758875;
}